<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Private</title>
</head>

<body>
    <div class="content">
        <header>
            <h1>Private</h1> </header>
        <div>
            <p>ID: {{userID}}</p>
            <p>Username: {{username}}</p>
            <p>First Nme: {{firstName}}</p>
            <p>Last Name: {{lastName}}</p>
            <p>Profession: {{profession}}</p>
            <p>Bio: {{bio}}</p>
        </div>
    </div>
</body>

</html>